*.class
*.classpath
*.project
*.prefs
org.eclipse.*.xml

demo1/WebContent/WEB-INF/classes/
demo1/.settings/

ServerDemo/WebContent/WEB-INF/classes/
ServerDemo/.settings/
ServerDemo/bin/

SormTest/WebContent/WEB-INF/classes/
SormTest/.settings/
SormTest/bin/

servletDemo/WebContent/WEB-INF/classes/
servletDemo/.settings/
servletDemo/bin/

mybatis/WebContent/WEB-INF/classes/
mybatis/.settings/
mybatis/bin/

spring-mybatis/WebContent/WEB-INF/classes/
spring-mybatis/.settings/
spring-mybatis/bin/

generator-mybatis/WebContent/WEB-INF/classes/
generator-mybatis/.settings/
generator-mybatis/bin/

springmvc/WebContent/WEB-INF/classes/
springmvc/.settings/
springmvc/bin/
springmvc/build/

ssm/WebContent/WEB-INF/classes/
ssm/.settings/
ssm/bin/
ssm/build/

itcast-springboot/WebContent/WEB-INF/classes/
itcast-springboot/.settings/
itcast-springboot/bin/
itcast-springboot/target/
itcast-springboot/build/

documents/servlet.docx
