*.class
*.classpath
*.project
*.prefs
org.eclipse.*.xml

demo1/WebContent/WEB-INF/classes/
demo1/.settings/

ServerDemo/WebContent/WEB-INF/classes/
ServerDemo/.settings/
ServerDemo/bin/

SormTest/WebContent/WEB-INF/classes/
SormTest/.settings/
SormTest/bin/

servletDemo/WebContent/WEB-INF/classes/
servletDemo/.settings/
servletDemo/bin/

documents/servlet.docx
