<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/angular.min.js" type="text/javascript"></script>
<script type="text/javascript">
var m=angular.module("hd",[]);
m.controller("ctrl",["$scope",function($scope){
	$scope.data=[{name:"name1",url:"url1"},
				 {name:"name2",url:"url2"},
				 {name:"name3",url:"url3"},
				 {name:"name4",url:"url4"}];
	
	$scope.data1=['name1','name2','name3','name1'];
}]);
</script>
</head>
<body ng-app="hd" ng-controller="ctrl">
	<ul>
		<li ng-repeat="(k,v) in data" style="{{k==0?'color:red':''}}">名称：{{v.name}}地址 :{{v.url}}</li>
		<hr />
		<li ng-repeat="(k,v) in data" style="{{$first?'color:red':''}}">名称：{{v.name}}地址 :{{v.url}}</li>
		<hr />
		<li ng-repeat="(k,v) in data" style="{{$last?'color:red':''}}">名称：{{v.name}}地址 :{{v.url}}</li>
		<hr />
		<li ng-repeat="(k,v) in data" style="{{$middle?'color:red':''}}">名称：{{v.name}}地址 :{{v.url}}</li>
		<hr>
		<li ng-repeat="(k,v) in data">
			<span ng-if="$first" style="color:red;"> 名称：{{v.name}}地址 :{{v.url}}</span>
			<span ng-if="$middle"> 名称：{{v.name}}地址 :{{v.url}}</span>
			<span ng-if="$last" style="color:red;"> 名称：{{v.name}}地址 :{{v.url}}</span>
		</li>
		<hr>
		<li ng-repeat="v in data1 track by $index">{{v}}</li>
	</ul>
</body>
</html>