<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/jquery-3.2.1.js" type="text/javascript"></script>
<script type="text/javascript">
var m=angular.module("hd",[]);
m.directive("hdCms",[function(){
	return {
		restrict:"AE",
		template:'{{color}}<span style="color:{{color}}">后盾人</span><input type="text" ng-model="color" />',
		scope:{color:'@color'}
	};
}]);
m.controller("ctrl1",["$scope",function($scope){
	$scope.name="后盾人";
	$scope.color="red";
}]);

</script>
</head>
<body ng-app="hd">
	<div ng-controller="ctrl1">
	<input type="text" ng-model="color" />
	<hr>
		<hd-cms color="{{color}}"></hd-cms>
	</div>
</body>
</html>