<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myFirstServlet</servlet-name>
    <servlet-class>com.ibm.demo.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myFirstServlet</servlet-name>
    <url-pattern>/myFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHttpServlet</display-name>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.ibm.demo.MyHttpServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>gbk</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/MyHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hsp.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginClServlet</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.hsp.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainFrame</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.hsp.view.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.hsp.view.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyImportServlet</display-name>
    <servlet-name>MyImportServlet</servlet-name>
    <servlet-class>com.ibm.demo.MyImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyImportServlet</servlet-name>
    <url-pattern>/MyImportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.ibm.demo.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.ibm.demo.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadImgServlet</display-name>
    <servlet-name>DownloadImgServlet</servlet-name>
    <servlet-class>com.ibm.demo.DownloadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImgServlet</servlet-name>
    <url-pattern>/DownloadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CacheTestServlet</display-name>
    <servlet-name>CacheTestServlet</servlet-name>
    <servlet-class>com.ibm.demo.CacheTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheTestServlet</servlet-name>
    <url-pattern>/CacheTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet</display-name>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>com.ibm.demo.GetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet1</display-name>
    <servlet-name>GetInfoServlet1</servlet-name>
    <servlet-class>com.ibm.demo.GetInfoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet1</servlet-name>
    <url-pattern>/GetInfoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wel</display-name>
    <servlet-name>Wel</servlet-name>
    <servlet-class>com.ibm.demo.Wel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wel</servlet-name>
    <url-pattern>/Wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet3_1</display-name>
    <servlet-name>GetInfoServlet3_1</servlet-name>
    <servlet-class>com.ibm.servlet3.GetInfoServlet3_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet3_1</servlet-name>
    <url-pattern>/GetInfoServlet3_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet3_1_lianxi</display-name>
    <servlet-name>GetInfoServlet3_1_lianxi</servlet-name>
    <servlet-class>com.ibm.servlet3.GetInfoServlet3_1_lianxi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet3_1_lianxi</servlet-name>
    <url-pattern>/GetInfoServlet3_1_lianxi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHeadInfoServlet</display-name>
    <servlet-name>GetHeadInfoServlet</servlet-name>
    <servlet-class>com.ibm.servlet3.GetHeadInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeadInfoServlet</servlet-name>
    <url-pattern>/GetHeadInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.ibm.servlet3.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_forward</display-name>
    <servlet-name>LoginServlet_forward</servlet-name>
    <servlet-class>com.ibm.requestforward.LoginServlet_forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_forward</servlet-name>
    <url-pattern>/LoginServlet_forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1_forward</display-name>
    <servlet-name>Servlet1_forward</servlet-name>
    <servlet-class>com.ibm.requestforward.Servlet1_forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1_forward</servlet-name>
    <url-pattern>/Servlet1_forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet21</display-name>
    <servlet-name>Servlet21</servlet-name>
    <servlet-class>com.ibm.requestforward.Servlet21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet21</servlet-name>
    <url-pattern>/Servlet21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUsers</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>com.hsp.view.ManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie</display-name>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>com.ibm.cookie.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/CreateCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie1</display-name>
    <servlet-name>ReadCookie1</servlet-name>
    <servlet-class>com.ibm.cookie.ReadCookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie1</servlet-name>
    <url-pattern>/ReadCookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie2</display-name>
    <servlet-name>CreateCookie2</servlet-name>
    <servlet-class>com.ibm.cookie.CreateCookie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie2</servlet-name>
    <url-pattern>/CreateCookie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servelt1</display-name>
    <servlet-name>Servelt1</servlet-name>
    <servlet-class>com.ibm.cookie.Servelt1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ManageProduct</display-name>
  	<servlet-name>ManageProduct</servlet-name>
  	<servlet-class>com.hsp.view.ManageProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servelt1</servlet-name>
    <url-pattern>/Servelt1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageProduct</servlet-name>
  	<url-pattern>
  	/ManageProduct</url-pattern>
  </servlet-mapping>
</web-app>