<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
      <listener-class>com.listener.MyListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>myFirstServlet</servlet-name>
    <servlet-class>com.ibm.demo.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myFirstServlet</servlet-name>
    <url-pattern>/myFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHttpServlet</display-name>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.ibm.demo.MyHttpServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>gbk</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/MyHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hsp.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginClServlet</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.hsp.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainFrame</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.hsp.view.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.hsp.view.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyImportServlet</display-name>
    <servlet-name>MyImportServlet</servlet-name>
    <servlet-class>com.ibm.demo.MyImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyImportServlet</servlet-name>
    <url-pattern>/MyImportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.ibm.demo.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.ibm.demo.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadImgServlet</display-name>
    <servlet-name>DownloadImgServlet</servlet-name>
    <servlet-class>com.ibm.demo.DownloadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImgServlet</servlet-name>
    <url-pattern>/DownloadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CacheTestServlet</display-name>
    <servlet-name>CacheTestServlet</servlet-name>
    <servlet-class>com.ibm.demo.CacheTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheTestServlet</servlet-name>
    <url-pattern>/CacheTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet</display-name>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>com.ibm.demo.GetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet1</display-name>
    <servlet-name>GetInfoServlet1</servlet-name>
    <servlet-class>com.ibm.demo.GetInfoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet1</servlet-name>
    <url-pattern>/GetInfoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wel</display-name>
    <servlet-name>Wel</servlet-name>
    <servlet-class>com.ibm.demo.Wel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wel</servlet-name>
    <url-pattern>/Wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet3_1</display-name>
    <servlet-name>GetInfoServlet3_1</servlet-name>
    <servlet-class>com.ibm.servlet3.GetInfoServlet3_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet3_1</servlet-name>
    <url-pattern>/GetInfoServlet3_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInfoServlet3_1_lianxi</display-name>
    <servlet-name>GetInfoServlet3_1_lianxi</servlet-name>
    <servlet-class>com.ibm.servlet3.GetInfoServlet3_1_lianxi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfoServlet3_1_lianxi</servlet-name>
    <url-pattern>/GetInfoServlet3_1_lianxi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHeadInfoServlet</display-name>
    <servlet-name>GetHeadInfoServlet</servlet-name>
    <servlet-class>com.ibm.servlet3.GetHeadInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeadInfoServlet</servlet-name>
    <url-pattern>/GetHeadInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.ibm.servlet3.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet_forward</display-name>
    <servlet-name>LoginServlet_forward</servlet-name>
    <servlet-class>com.ibm.requestforward.LoginServlet_forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet_forward</servlet-name>
    <url-pattern>/LoginServlet_forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1_forward</display-name>
    <servlet-name>Servlet1_forward</servlet-name>
    <servlet-class>com.ibm.requestforward.Servlet1_forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1_forward</servlet-name>
    <url-pattern>/Servlet1_forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet21</display-name>
    <servlet-name>Servlet21</servlet-name>
    <servlet-class>com.ibm.requestforward.Servlet21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet21</servlet-name>
    <url-pattern>/Servlet21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUsers</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>com.hsp.view.ManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie</display-name>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>com.ibm.cookie.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/CreateCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie1</display-name>
    <servlet-name>ReadCookie1</servlet-name>
    <servlet-class>com.ibm.cookie.ReadCookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie1</servlet-name>
    <url-pattern>/ReadCookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie2</display-name>
    <servlet-name>CreateCookie2</servlet-name>
    <servlet-class>com.ibm.cookie.CreateCookie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie2</servlet-name>
    <url-pattern>/CreateCookie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servelt1</display-name>
    <servlet-name>Servelt1</servlet-name>
    <servlet-class>com.ibm.cookie.Servelt1</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>ManageProduct</display-name>
    <servlet-name>ManageProduct</servlet-name>
    <servlet-class>com.hsp.view.ManageProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servelt1</servlet-name>
    <url-pattern>/Servelt1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageProduct</servlet-name>
    <url-pattern>
  	/ManageProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSessionServlet</display-name>
    <servlet-name>CreateSessionServlet</servlet-name>
    <servlet-class>com.ibm.demo.CreateSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSessionServlet</servlet-name>
    <url-pattern>/CreateSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fdasf</display-name>
    <servlet-name>fdasf</servlet-name>
    <servlet-class>fdasf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdasf</servlet-name>
    <url-pattern>/fdasf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fdsaf</display-name>
    <servlet-name>fdsaf</servlet-name>
    <servlet-class>com.hsp.view.fdsaf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdsaf</servlet-name>
    <url-pattern>/fdsaf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionErrorServlet</display-name>
    <servlet-name>SessionErrorServlet</servlet-name>
    <servlet-class>com.hsp.view.SessionErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionErrorServlet</servlet-name>
    <url-pattern>/SessionErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie1</display-name>
    <servlet-name>CreateCookie1</servlet-name>
    <servlet-class>com.ibm.demo.CreateCookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie1</servlet-name>
    <url-pattern>/CreateCookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.ibm.demo.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSessionServlet</display-name>
    <servlet-name>GetSessionServlet</servlet-name>
    <servlet-class>com.ibm.demo.GetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSessionServlet</servlet-name>
    <url-pattern>/GetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.ibm.checkcode.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCServlet</display-name>
    <servlet-name>LoginCServlet</servlet-name>
    <servlet-class>com.ibm.checkcode.LoginCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCServlet</servlet-name>
    <url-pattern>/LoginCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCheckCodeServlet</display-name>
    <servlet-name>CreateCheckCodeServlet</servlet-name>
    <servlet-class>com.ibm.checkcode.CreateCheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCheckCodeServlet</servlet-name>
    <url-pattern>/CreateCheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCheckCodeServlet1</display-name>
    <servlet-name>CreateCheckCodeServlet1</servlet-name>
    <servlet-class>com.hsp.view.CreateCheckCodeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCheckCodeServlet1</servlet-name>
    <url-pattern>/CreateCheckCodeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookServlet</display-name>
    <servlet-name>ShowBookServlet</servlet-name>
    <servlet-class>com.ibm.shoppingcar.ShowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookServlet</servlet-name>
    <url-pattern>/ShowBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyBookServlet</display-name>
    <servlet-name>BuyBookServlet</servlet-name>
    <servlet-class>com.ibm.shoppingcar.BuyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyBookServlet</servlet-name>
    <url-pattern>/BuyBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyCarServlet</display-name>
    <servlet-name>ShowMyCarServlet</servlet-name>
    <servlet-class>com.ibm.shoppingcar.ShowMyCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyCarServlet</servlet-name>
    <url-pattern>/ShowMyCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.ibm.servletcontext.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet02</display-name>
    <servlet-name>Servlet02</servlet-name>
    <servlet-class>com.ibm.servletcontext.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet02</servlet-name>
    <url-pattern>/Servlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet04</display-name>
    <servlet-name>Servlet04</servlet-name>
    <servlet-class>com.ibm.servletcontext.Servlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet04</servlet-name>
    <url-pattern>/Servlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet05</display-name>
    <servlet-name>Servlet05</servlet-name>
    <servlet-class>com.ibm.servletcontext.Servlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet05</servlet-name>
    <url-pattern>/Servlet05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ibm.counter.Login</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>LogTestServlet</display-name>
    <servlet-name>LogTestServlet</servlet-name>
    <servlet-class>com.newdemo.LogTestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>FileAccessServlet</display-name>
    <servlet-name>FileAccessServlet</servlet-name>
    <servlet-class>com.newdemo.FileAccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogTestServlet</servlet-name>
    <url-pattern>
  	/LogTestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileAccessServlet</servlet-name>
    <url-pattern>
  	/FileAccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseServlet</display-name>
    <servlet-name>ChineseServlet</servlet-name>
    <servlet-class>com.ibm.demo.ChineseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseServlet</servlet-name>
    <url-pattern>/ChineseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshSevlet</display-name>
    <servlet-name>RefreshSevlet</servlet-name>
    <servlet-class>com.ibm.demo.RefreshSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshSevlet</servlet-name>
    <url-pattern>/RefreshSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CacheTestServlet1</display-name>
    <servlet-name>CacheTestServlet1</servlet-name>
    <servlet-class>com.ibm.demo.CacheTestServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CacheTestServlet1</servlet-name>
    <url-pattern>/CacheTestServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BufferServlet</display-name>
    <servlet-name>BufferServlet</servlet-name>
    <servlet-class>com.ibm.demo.BufferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BufferServlet</servlet-name>
    <url-pattern>/BufferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attachment</display-name>
    <servlet-name>Attachment</servlet-name>
    <servlet-class>com.ibm.demo.Attachment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attachment</servlet-name>
    <url-pattern>/Attachment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCountServlet</display-name>
    <servlet-name>TestCountServlet</servlet-name>
    <servlet-class>com.ibm.demo.TestCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCountServlet</servlet-name>
    <url-pattern>/TestCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludingServlet</display-name>
    <servlet-name>IncludingServlet</servlet-name>
    <servlet-class>com.ibm.demo.IncludingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludingServlet</servlet-name>
    <url-pattern>/IncludingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludedServlet</display-name>
    <servlet-name>IncludedServlet</servlet-name>
    <servlet-class>com.ibm.demo.IncludedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludedServlet</servlet-name>
    <url-pattern>/IncludedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardingServlet</display-name>
    <servlet-name>ForwardingServlet</servlet-name>
    <servlet-class>com.ibm.demo.ForwardingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardingServlet</servlet-name>
    <url-pattern>/ForwardingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardedServlet</display-name>
    <servlet-name>ForwardedServlet</servlet-name>
    <servlet-class>com.ibm.demo.ForwardedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardedServlet</servlet-name>
    <url-pattern>/ForwardedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.ibm.demo.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>RequestHeadersServlet</display-name>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <servlet-class>com.ibm.demo.RequestHeadersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>DownManagerServlet</display-name>
    <servlet-name>DownManagerServlet</servlet-name>
    <servlet-class>com.newdemo.DownManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>HideJsServlet</display-name>
    <servlet-name>HideJsServlet</servlet-name>
    <servlet-class>com.newdemo.HideJsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>AuthenticateServlet</display-name>
    <servlet-name>AuthenticateServlet</servlet-name>
    <servlet-class>com.newdemo.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>TestFormServlet</display-name>
    <servlet-name>TestFormServlet</servlet-name>
    <servlet-class>com.newdemo.TestFormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>RepeatFormServlet</display-name>
    <servlet-name>RepeatFormServlet</servlet-name>
    <servlet-class>com.newdemo.RepeatFormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>FormSerlvet</display-name>
    <servlet-name>FormSerlvet</servlet-name>
    <servlet-class>com.newdemo.FormSerlvet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>DoFormServlet</display-name>
    <servlet-name>DoFormServlet</servlet-name>
    <servlet-class>com.newdemo.DoFormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>HtmlForwardServlet</display-name>
    <servlet-name>HtmlForwardServlet</servlet-name>
    <servlet-class>com.newdemo.HtmlForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <url-pattern>
  	/RequestHeadersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownManagerServlet</servlet-name>
    <url-pattern>
  	/DownManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HideJsServlet</servlet-name>
    <url-pattern>
  	/HideJsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticateServlet</servlet-name>
    <url-pattern>
  	/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestFormServlet</servlet-name>
    <url-pattern>
  	/TestFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepeatFormServlet</servlet-name>
    <url-pattern>
  	/RepeatFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormSerlvet</servlet-name>
    <url-pattern>
  	/FormSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoFormServlet</servlet-name>
    <url-pattern>
  	/DoFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HtmlForwardServlet</servlet-name>
    <url-pattern>
  	/HtmlForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadBodyServlet</display-name>
    <servlet-name>ReadBodyServlet</servlet-name>
    <servlet-class>com.newdemo.ReadBodyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadBodyServlet</servlet-name>
    <url-pattern>/ReadBodyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet1</display-name>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>com.newdemo.SessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet1</servlet-name>
    <url-pattern>/SessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.newdemo.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/SessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.seniorweb.fileupload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
<!--   <filter>
      <filter-name>FirstFilter</filter-name>
      <filter-class>com.filter.FirstFilter</filter-class>
      <init-param>
          <param-name>encoding</param-name>
          <param-value>GB2312</param-value>
      </init-param>
  </filter> -->
  <filter>
  	<display-name>LogonFilter</display-name>
  	<filter-name>LogonFilter</filter-name>
  	<filter-class>com.filter.LogonFilter</filter-class>
  </filter>
  <filter>
  	<display-name>TrimFilter</display-name>
  	<filter-name>TrimFilter</filter-name>
  	<filter-class>com.filter.TrimFilter</filter-class>
  </filter>
  <!-- <filter-mapping>
      <filter-name>FirstFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
      <filter-name>FirstFilter</filter-name>
      <servlet-name>default</servlet-name>
  </filter-mapping>
  <filter-mapping>
      <filter-name>FirstFilter</filter-name>
      <url-pattern>/test.html</url-pattern>
  </filter-mapping> -->
  <filter-mapping>
  	<filter-name>LogonFilter</filter-name>
  	<url-pattern>/filter/articles/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TrimFilter</filter-name>
  	<url-pattern>
  	/*</url-pattern>
  </filter-mapping>
</web-app>