<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/angular.min.js" type="text/javascript"></script>
<script src="../js/jquery-3.2.1.js" type="text/javascript"></script>
<script type="text/javascript">
var model=angular.module('myApp',[]);
model.controller("parentCtrl",["$scope",function($scope){
	$scope.user={"name":"hello"};
	$scope.$on("Ctrl1NameChange",function(event,msg){
		console.log("parent msg",msg);
		$scope.$broadcast("Ctr1NameChangeFromParrent",msg);
	});
}]).controller("childCtr1",["$scope",function($scope){
	//$scope.user={"name":"hello1"};
	$scope.change=function(name){
		console.log("childCtr1",name);
		$scope.$emit("Ctrl1NameChange",name);
	}
	
}]).controller("childCtr2",["$scope",function($scope){
	$scope.$on("Ctr1NameChangeFromParrent",function(event,msg){
		console.log("childCtr2",msg);
		$scope.child2Name=msg;
	});
}]).controller("parentBrotherCtrl",["$scope",function($scope){
	
	$scope.$on("Ctrl1NameChange",function(event,msg){
		console.log("parentBrother msg",msg);
		$scope.$broadcast("Ctr1NameChangeFromParent",msg);
	})
}]).controller("brotherChildCtr1",["$scope",function($scope){
	
	$scope.change=function(name){
		console.log("brotherChildCtr1 name",name);
		$scope.$emit("Ctrl1NameChange",name);
	}
}]).controller("brotherChildCtr2",["$scope",function($scope){
	$scope.$on("Ctr1NameChangeFromParent",function(event,msg){
		$scope.brotherName2=msg;
	});
}]);
</script>
</head>
<body ng-app="myApp">
	<div ng-controller="parentCtrl">
		{{user.name}}
		<div ng-controller="childCtr1">child 1 name:
			<input type="text" ng-model="name" ng-change="change(name)" />	
			{{user.name}}	
			<input type="text" ng-model="user.name" />
		</div>
		<div ng-controller="childCtr2">child 2 name:
			<input type="text" ng-model="child2Name" />		
		</div>
	</div>
	<div ng-controller="parentBrotherCtrl">
		<div ng-controller="brotherChildCtr1">brotherChildCtr 1 name:
			<input type="text" ng-model="name" ng-change="change(name)" />		
		</div>
		<div ng-controller="brotherChildCtr2">brotherChildCtr 2 name:
			<input type="text" ng-model="brotherName2" />		
		</div>
	</div>
</body>
</html>